<div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-black text-white text-center">
    <div>
      <img src="/logo.png" alt="Garage Icon" class="mb-3" width="80">
      <h1 class="fw-bold text-warning">EasyPark</h1>
      <p class="text-secondary">Rápido, seguro y sin complicaciones</p>
    </div>
    
    <div class="mt-4 d-flex flex-column">
      <button class="btn btn-light rounded-pill px-4 py-2 mb-2">Iniciar Sesión</button>
      <button class="btn btn-light rounded-pill px-4 py-2"[routerLink] = "'/register'">Registro</button>
    </div>
  </div>
  